<h2 class="titre"><%= t :a_venir %></h2>

<section class="division-evenementielle">
    <% @evenements.where("date >= ?", Date.today).each do |evenement| %>
        <article class="evenement">
            <div class="informations-evenement">
                <h3 id="nom-evenement"><%= evenement.nom %></h3>
                <p><%= evenement.description %></p>
                <p><%= evenement.date %></p>
                <p><%= evenement.lieu %></p>
            </div>
            <div class="image-evenement"><%= link_to(image_tag(image_show_path evenement.image_id), evenement) %></div>
            <% if @user.niveau_admin > 0 %>
                <div class="administration-evenement">
                    <%= link_to 'Edit', edit_evenement_path(evenement) %>
                    <%= link_to 'Destroy', evenement, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            <% end %>
        </article>
    <% end %>
</section>

<h2 class="titre">Passés</h2>

<section class="division-evenementielle">
    <% @evenements.where("date < ?", Date.today).each do |evenement| %>
        <article class="evenement">
            <div class="informations-evenement">
                <h3 id="nom-evenement"><%= evenement.nom %></h3>
                <p><%= evenement.description %></p>
                <p><%= evenement.date %></p>
                <p><%= evenement.lieu %></p>
            </div>
            <div class="image-evenement"><%= link_to(image_tag(image_show_path evenement.image_id), evenement) %></div>
            <div class="administration-evenement">
            <% if @user.niveau_admin > 0 %>
                <%= link_to 'Edit', edit_evenement_path(evenement) %>
                <%= link_to 'Destroy', evenement, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
        </article>
    <% end %>

</section>
<%= link_to 'New Evenement', new_evenement_path %>
