<h1>Evenements</h1>

<h2><%= t :a_venir %></h2>

<% @evenements.where("date >= ?", Date.today).each do |evenement| %>
    <p><%= evenement.nom %></p>
    <p><%= evenement.description %></p>
    <p><%= image_tag image_show_tag(evenement.image_id) %></p>
    <p><%= evenement.date %></p>
    <p><%= evenement.lieu %></p>
    <p><%= link_to 'Show', evenement %></p>
    <p><%= link_to 'Edit', edit_evenement_path(evenement) %></p>
    <p><%= link_to 'Destroy', evenement, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<h2>Passés</h2>

<% @evenements.where("date < ?", Date.today).each do |evenement| %>
    <p><%= evenement.nom %></p>
    <p><%= evenement.description %></p>
    <p><%= image_tag image_show_path(evenement.image_id) %></p>
    <p><%= evenement.date %></p>
    <p><%= evenement.lieu %></p>
    <p><%= link_to 'Show', evenement %></p>
    <p><%= link_to 'Edit', edit_evenement_path(evenement) %></p>
    <p><%= link_to 'Destroy', evenement, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<%= link_to 'New Evenement', new_evenement_path %>
