<section id="image-entete" class="pure-u-1"> </section>

<section id="main">
    <section id="liste-evenements" class="pure-g">
        <div id="entete-evenements" class="pure-u-1">
            <h2 class="pure-u-1 pure-u-md-3-24">Événements</h2>
            <div id="recherche" class="pure-u-md-5-24">
                <form><input id="champ-recherche" type="text" placeholder="recherche"></form>
            </div>
        </div>

        <div id="filtre-evenements" class="pure-u-1">
            <h3 class="">Catégories</h3>
            <ul>
                <% Evenement::categories.each do |cat| %>
                    <li class="filtre-categorie" data-id-categorie="<%= cat.last %>"><%= cat.first %></li>
                <% end %>
            </ul>
        </div>
        <div id="mois-evenements" class="pure-u-1">
            <% (0..10).each do |mois| %>
                <div class="filtre-mois" data-id-mois="<%= Date.today.advance(:months => mois).mon %>"><%= l(Date.today.advance(:months => mois), format: :mois) %></div>
            <% end %>
        </div>

        <div id="evenements-prochain-mois" class="pure-u-1">
            <h2><%= l(@evenements.first.date, format: :ma) %> <span class="nb-evenements">(<%= @evenements.count %> événements)</span></h2>
        </div>

        <div id="evenements-items" class="pure-g">
            <%= render "liste_evenements" %>
        </div>

    </section>

    <% if @user and @user.niveau_admin >= 0 %>
        <section class="pure-u-1" style="text-align: center; padding: 15px; background-color: rgb(135, 135, 135);">
            <%= link_to 'Créer un événement', new_evenement_path %>
        </section>
    <% end %>

    <script>

var filtre = {
    categories: [],
    texte: null,
    mois: []
}

// Initialisation
$(document).ready(function () {

    // Filtres - texte
    document.getElementById("champ-recherche").addEventListener("keyup", filtrer_evenements);

    // Filtres - categorie
    $(".filtre-categorie").each(function(index, element) {
        element.addEventListener("click", function (event) {
            if(event.target.hasAttribute("data-actif")) {
                event.target.removeAttribute("data-actif"); 
                $(event.target).removeClass("filtre-actif");
                var index = filtre.categories.indexOf(event.target.getAttribute("data-id-categorie"));
                filtre.categories.splice(index, 1);
            }
            else {
                event.target.setAttribute("data-actif", "actif"); 
                $(event.target).addClass("filtre-actif");
                filtre.categories.push(event.target.getAttribute("data-id-categorie"));
            }
            filtrer_evenements();
        });
    });

    // Filtres - mois
    $(".filtre-mois").each(function(index, element) {
        element.addEventListener("click", function (event) {
            if(event.target.hasAttribute("data-actif")) {
                event.target.removeAttribute("data-actif"); 
                $(event.target).removeClass("filtre-actif");

                var index = filtre.mois.indexOf(parseInt(event.target.getAttribute("data-id-mois")) - 1);
                filtre.mois.splice(index, 1);
            }
            else {
                event.target.setAttribute("data-actif", "actif"); 
                $(event.target).addClass("filtre-actif");

                var mois = event.target.getAttribute("data-id-mois"); 
                filtre.mois.push(parseInt(mois) - 1);
            }
            filtrer_evenements();
        });
    });

    // Images
    setTimeout(function () {
        $(".evenement .image-evenement").each(function (i, e) {
            var demie_hauteur_image = e.firstElementChild.firstElementChild.height / 2; 
            e.style.marginBottom = -demie_hauteur_image + "px";
            e.nextElementSibling.style.paddingTop = demie_hauteur_image + "px";
        });
    }, 500)
});

// Fonction necessaires
function filtrer_evenements () {

    filtre.texte = new RegExp(document.getElementById("champ-recherche").value);
    var evenements = document.getElementsByClassName("evenement");

    for(var i = 0; i < evenements.length; i++) {
        evenements[i].style.display =  filtrer(evenements[i]) ? "block" : "none";
    }
    
}

function filtrer (evenement) {

    // Texte
    if(filtre.texte != null && !filtre.texte.test(evenement.textContent)) return false;

    // Categories
    if(filtre.categories.length != 0) {
        var categories = JSON.parse(evenement.getAttribute("data-categories"));

        if(categories.constructor === Array) {
            for(var i = 0; i < categories.length; i++) {
                if(filtre.categories.indexOf(categories[i]) == -1) return false;
            }
        }
        else {
            if(filtre.categories.indexOf(categories) == -1) return false;
        }
    }

    // mois
    if(filtre.mois.length != 0) {
        var mois = new Date(evenement.getAttribute("data-date"));
        mois = mois.getMonth();
        if(filtre.mois.indexOf(mois) == -1) return false;
    }
    return true;
}
    </script>
</section>
