<section id="image-entete" class="pure-u-1"> </section>

<section id="liste-evenements" class="pure-g">
    <div id="entete-evenements" class="pure-u-1">
        <h2 class="pure-u-1 pure-u-md-2-24">Événements</h2>
        <div id="recherche" class="pure-u-md-5-24">
            <form><input id="champ-recherche" type="text"></form>
        </div>
    </div>

    <div id="filtre-evenements" class="pure-u-1">
        <h3 class="">Filtres</h3>
        <ul>
            <li>Rouge</li>
            <li>Rouge</li>
            <li>Rouge</li>
            <li>Rouge</li>
            <li>Rouge</li>
        </ul>
    </div>
    <div id="themes-evenements" class="pure-u-1">
        <ul>
            <li>theme</li>
            <li>theme</li>
            <li>theme</li>
            <li>theme</li>
            <li>theme</li>
            <li>Rouge</li>
            <li>Rouge</li>
            <li>Rouge</li>
            <li>Rouge</li>
        </ul>
    </div>

    <div id="evenements-prochain-mois" class="pure-u-1">
        <h2><%= @evenements.first.date.month %> / <%= @evenements.first.date.year %></h2> | <%= @evenements.count %> événements
    </div>

    <div id="evenements-items" class="pure-g">
        <% @evenements.each do |evenement| %>
            <article class="evenement pure-u-1 pure-u-md-1-3">
                <div class="container-evenement">
                    <div class="image-evenement"><%= link_to(image_tag(image_show_path evenement.image_id), evenement) %></div>
                    <div class="informations-evenement">
                        <h3 id="nom-evenement"><%= evenement.nom %></h3>
                        <p><%= evenement.description %></p>
                    </div>
                    <div class="date-evenement">
                        <p><%= evenement.date.wday %></p>
                    </div>
                    <div class="heure-evenement">
                        <p><%= evenement.date.hour %></p>
                    </div>
                </div>
                <% if @user and @user.niveau_admin > 10 %>
                    <div class="administration-evenement">
                        <%= link_to 'Edit', edit_evenement_path(evenement) %>
                        <%= link_to 'Destroy', evenement, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    <%= link_to 'Edit', edit_evenement_path(evenement) %>
                    <%= link_to 'Destroy', evenement, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </article>
        <% end %>
    </div>
</section>

<% if @user and @user.niveau_admin > 10 %>
    <%= link_to 'New Evenement', new_evenement_path %>
<% end %>
