<div id="contenu-evenement">
    <div id="informations-evenement">
        <div id="titre-evenement" class="titre">
            <strong><%= @evenement.nom %></strong>
        </div>
        <div id="date-evenement">
            <%= @evenement.date %>
        </div>
        <div id="description-evenement">
            <%= @evenement.description %>
        </div>
        <div id="lieu-evenement">
            <%= @evenement.lieu %>
        </div>
    </div>
    <div id="imagerie-evenement">
        <div id="image-evenement">
            <%= image_tag image_show_path(@image) %>
        </div>
        <div id="carte-evenement">
            Google Maps
        </div>
    </div>

    <footer>
        <%= link_to 'Edit', edit_evenement_path(@evenement) %> |
        <%= link_to 'Back', evenements_path %>
    <footer>
</div>
