<section id="image-evenement" class="pure-u-1">
    <%= image_tag(image_show_path @evenement.image_id) %>
</section>

<section id="main">
    <section id="contenu-evenement">
        <div id="informations-evenement">
            <div id="titre-evenement" class="titre">
                <strong><%= @evenement.nom %></strong>
            </div>
            <div id="categorie-evenement">
                <%= image_categorie(@evenement.categorie) %>
            </div>
            <div id="date-evenement">
                <p><%= l(@evenement.date, format: :jour_semaine) %> <b><%= @evenement.date.day %></b> <%= l(@evenement.date, format: :mois) %> </p><p class="heure">À <b><%= l(@evenement.date, format: :heure) %>h<%= l(@evenement.date, format: :minutes) %></b></p>
            </div>
            <div id="description-evenement">
                <%= @evenement.description %>
            </div>
        </div>
        <div id="evenements-items" class="pure-g">
            <h2 id="evenements-a-venir" class="pure-u-1">Événements à venir</h2>
            <%= render "liste_evenements" %>
        </div>
    </section>


    <% if @user and @user.niveau_admin >= 1 %>
        <%= link_to 'Edit', edit_evenement_path(@evenement) %> |
        <%= link_to 'Back', evenements_path %>
    <% end %>

</section>
