<section id="creativite" class="pure-u-1">
    <h3>Laissez aller votre créativité</h3>
</section>

<section id="description-irisium" class="pure-u-1">
    <h3>Qu'est-ce qu'Irisium?</h3>
    <p>Bla bla bla</p>
    <p class="lien"><a href="#">Visionner le vidéo</a></p>
</section>

<section id="mission" class="pure-g">
    <h3 class="titre-section pure-u-1">
        <span>Mission</span>
    </h3>
    <div class="pure-u-1 pure-u-md-1-3">
        <%= image_tag "diffusion.svg", class: "image-mission" %>
        <h4>Diffusion</h4>
        <p>Un espace de diffusion professionnel et dynamique</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <%= image_tag "communaute.svg", class: "image-mission" %>
        <h4>Communauté</h4>
        <p>Un réseau d’artistes fort et soudé</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <%= image_tag "creation.svg", class: "image-mission" %>
        <h4>Création</h4>
        <p>Un espace de coworking artistique</p>
    </div>
    <h3 class="titre-section pure-u-1" style="margin-top: 55px;">
        <span>Services</span>
    </h3>
    <div class="pure-u-1 pure-u-md-1-3">
        <%= image_tag "equipement.svg", class: "image-mission" %>
        <h4>Location d'équipement</h4>
        <p>De l’équipement de production artistique et événementiel</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <%= image_tag "cafe.svg", class: "image-mission" %>
        <h4>Café / Bar</h4>
        <p>Un espace de détente et de petits plaisirs</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <%= image_tag "evenement.svg", class: "image-mission" %>
        <h4>Événements</h4>
        <p>Plusieurs événements créés par et pour les artistes chaque semaine</p>
    </div>
</section>

<section id="inscrivez-vous-maintenant">
    <h3 class="leger">Inscrivez-vous dès maintenant pour en profiter le plus tôt possible</h3>
    <p id="details_inscription"><a href="<%= accueil_a_propos_path %>">En savoir plus</a></p>
</section>

<section id="evenements-futurs" style="background-image: url('<%= image_show_path(@image_evenement) %>'); background-size: cover; background-repeat: no-repeat;">
    <h2>Événements<br>à venir</h2>
    <p><a href="<%= evenements_path %>">Voir tous les événements</a></p>
</section>

