<!DOCTYPE html>
<html>
  <head>
    <title>Irisium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          <h2 id="titre-header"><a href="<%= root_path %>">Irisium</a></h2>
          <span id="connexion"><a href="#">Connexion</a></span> 
          <span id="inscription"><a href="<%= new_user_path %>">Inscription</a></span> 
      </header>
    <%= yield %>
  </body>
</html>
