<!DOCTYPE html>
<html>
    <head>
        <title>Irisium</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <% if notice %>
            <p class="notice"> <%= notice %> </p>
        <% end %>
        <% if alert %>
            <p class="alert"><%= alert %></p>
        <% end %>
        <header id="page-header">
            <p><a href="<%= root_path %>" class="nom-header" style="text-transform: uppercase; float: left;">Irisium</a></p>
            <ul class="liste-horizontale">
                <li class="liste-horizontale-item"><a href="#"><%= fa_icon "instagram", class: "fa-lg" %></a></li> 
                <li class="liste-horizontale-item"><a href="#"><%= fa_icon "twitter", class: "fa-lg" %></a></li> 
                <li class="liste-horizontale-item"><a href="https://www.facebook.com/studioirisium/"><%= fa_icon "facebook", class: "fa-lg" %></a></li> 

                <li id="inscription-header" class="liste-horizontale-item pure-button pure-button-primary bg-couleur-accent"><a href="<%= new_user_path %>">Inscrivez-vous</a></li> 
                <li class="liste-horizontale-item"><a href="<%= accueil_contact_path %>">Contact</a></li> 
                <li class="liste-horizontale-item"><a href="<%= accueil_faq_path %>">FAQ</a></li> 
                <li class="liste-horizontale-item"><a href="<%= evenements_path %>">Évenements</a></li> 
                <!-- <li class="liste-horizontale-item"><a href="<%= accueil_a_propos_path %>">À propos</a></li> -->
            </ul>
        </header>

        <section id="contenu-principal">
            <%= yield %>
        </section>

        <footer id="footer" class="pure-g">
            <div id="informations" class="pure-u-1 pure-u-md-2-5"> 
                <h2 class="titre-section-footer" style="font-size: 1.2em; padding: 0px;">Irisium</h2>
                <p id="vision" style="width: 60%">Milieu de vie pour les artistes en arts visuels qui favorise leur développement en offrant les infrastructures, les services et le soutien nécessaires à la réalisation de leur plein potentiel.
                </p>
            </div>
            <div id="geo" class="pure-u-1 pure-u-md-1-5"> 
                <h3 class="titre-section-footer">Informations</h3>
                <address>161 rue Wellington N. Sherbrooke</address>
                <p><a href="mailto:info@irisium.ca">info@irisium.ca</a></p>
            </div>
            <div id="heures_ouverture" class="pure-u-1 pure-u-md-1-5"> 
                <h3 class="titre-section-footer">Heures d'ouverture</h3>
                <p><b>Dimanche au jeudi: </b>13h00 à 21h00</p><p><b>Vendredi-samedi: </b>13h00 à 21h00</p>
            </div>
            <div id="reseaux" class="pure-u-1 pure-u-md-1-5">
                <p>
                    <a href="#"><%= fa_icon "instagram", class: "fa-lg" %></a>
                    <a href="#"><%= fa_icon "twitter", class: "fa-lg" %></a>
                    <a href="https://www.facebook.com/studioirisium/"><%= fa_icon "facebook", class: "fa-lg" %></a>
                </p>
            </div>
        </footer>
    </body>
</html>
